<header>
  <div class="row">
    <div class="col">
      <img src="../../../assets/images/etiya-login-logo.png" routerLink="/home" style="cursor: pointer;">
    </div>
    <div class="col-md-auto d-flex align-items-center" style="cursor: pointer;">
      <i class="fa-solid fa-globe fa-sm " style="color: white;"></i>
      <span class="mx-2">EN (English)</span>
    </div>
    <div class="col col-lg-3 d-flex align-items-center header-avatar">
      <p class="header-avatar-title">Specialist Software Developer</p>
      <i class="fa-solid fa-user fa-3x" style="color: #F48221;"></i>
      <span class="mx-3" >Worker</span>
    </div>
  </div>
</header>
