<header>
  <!-- <div class="header">
      <img src="../../../assets/images/etiya-login-logo.png">

      <div class="header-items">
        <div class="header-language">
          <i class="fa-solid fa-globe fa-sm " style="color: white;"></i>
          <p>EN (English)</p>
        </div>

        <div class="header-avatar">
          <p class="header-avatar-title">Specialist Software Developer</p>
          <i class="fa-solid fa-user fa-3x" style="color: #F48221;"></i>
          <p >Worker</p>
        </div>


      </div>
  </div> -->
  <div class="row">
    <div class="col">
      <img src="../../../assets/images/etiya-login-logo.png">
    </div>
    <div class="col-md-auto d-flex align-items-center">
      <i class="fa-solid fa-globe fa-sm " style="color: white;"></i>
      <span class="mx-2">EN (English)</span>
    </div>
    <div class="col col-lg-3 d-flex align-items-center header-avatar">
      <p class="header-avatar-title">Specialist Software Developer</p>
      <i class="fa-solid fa-user fa-3x" style="color: #F48221;"></i>
      <span class="mx-3" >Worker</span>
    </div>
  </div>

</header>
