header{
  height: 12vh;
  background: #24233F;

  img{
    margin-left: 1rem;
    margin-top: 1rem;
    width: 16vw;
    object-fit: cover;
  }

  .header-avatar-title{
    margin-top: 1rem;
    padding-left: 1rem;
    width: 14rem;
  }

  .header-avatar{
    margin-top: 1rem;
    border-left: 1px solid #fff;
    height: 8vh;
  }

  p, span{
    color: white;
    font-family: "inter";
  }
}

