
h4 {
  border-bottom: 3px solid #FBCDA6;
  text-indent: 5px;
  padding-bottom: 5px;
  font-size: 1.4rem;
  color: #333;
  font-weight: 700;
}
label {
  color: #666;
  font-weight: 700;
  width: 16rem;
  margin-right: 1rem;
}
.form-actions {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 5rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  width: 60vw;
}
.row:first-of-type {
  margin-top: 4rem;
}
.row select {
  flex: 0 1 45%;
  height: 2.3rem;
  padding: 8px;
  border: 1px solid f48221;
  border-radius: 4px;
}
.form-control {
  border: 1px solid #FBCDA6;
  border-radius: 0.5rem;
  height: 2.3rem;
}
.invalid-create-button, .button-cancel{
  padding: 10px;
  width: 9rem;
  border: none;
  border-radius: 2rem;
  font-weight: 500;
  color: black;
}
.button-cancel {
  background-color: #FBCDA6;
  color: black;
  margin-left: 2rem;
  cursor: pointer;
}

.invalid-create-button{
  margin-right: 7rem;
}

  .valid-create-button {
      background-color: #FBCDA6;
      padding: 10px;
      width: 9rem;
      border: none;
      color: black;
      margin-right: 7rem;
      border-radius: 2rem;
      font-weight: 500;
      cursor: pointer;
  }

.valid-create-button:hover{
      background-color: #f48221;
      color: white;
  }

.button-cancel:hover {
  background-color: #f48221;
  color: white;
}
