<div class="container-fluid">
  <h3>Customer Account</h3>
  <button class="create-account" routerLink="/create-customer">Create New Account</button>


  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">Account Status</th>
        <th scope="col">Account Number</th>
        <th scope="col">Account Name</th>
        <th scope="col">Account Type</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let account of list; let i = index" class="aaccordion-item">



            <tr data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i" aria-expanded="false" [attr.aria-controls]="'collapse' + i">
              <ng-container *ngIf="account.billingAccounts && account.billingAccounts.length > 0">
                <td>{{ account.billingAccounts[0].status || '-'}}</td>
                <td>{{ account.billingAccounts[0].accountNumber || '-' }}</td>
                <td>{{ account.billingAccounts[0].accountName || '-'}}</td>
                <td>{{ account.billingAccounts[0].orders && account.billingAccounts[0].orders[0]?.offers && account.billingAccounts[0].orders[0].offers[0]
                  ? account.billingAccounts[0].orders[0].offers[0].type.name
                  : '-' }}
                </td>
                <td class="justify-content-center gap-3">
                  <i class="fa-regular fa-circle-xmark"></i>
                  <i class="fa-solid fa-pen-clip" style="color: #24233f" routerLink="/edit-account/{{account.billingAccounts[0].id}}"></i>
                </td>
              </ng-container>
            </tr>



        <!-- Accordion içeriği -->
        <tr>
          <td colspan="5" class="p-0">
            <div id="collapse{{i}}" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading' + i" data-bs-parent="#accountsAccordion">
              <div class="accordion-body">
          <table class="table product-table">
            <thead>
              <tr>
                <th scope="col">Product ID </th>
                <th scope="col">Product Name</th>
                <th scope="col">Campaign Name</th>
                <th scope="col">Campaign ID</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let account of account.billingAccounts">
                <ng-container *ngFor="let order of account.orders">
                  <ng-container *ngFor="let offer of order.offers">
                    <tr *ngFor="let product of offer.products">
                      <td>{{ product.id || '-' }}</td>
                      <td>{{ product.name || '-'}}</td>
                      <td>{{ offer.name || '-'}}</td>
                      <td>{{ offer.id || '-'}}</td>
                      <td class="accordion-side-buttons">
                        <i class="fa-regular fa-circle-xmark"></i>
                        <i class="fa-regular fa-eye"></i>
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
              </ng-container>
              <tr class="action-row">
                <td colspan="5" class="accordion-action">
                  <button>Start New Sale</button>
                  <button>Transfer</button>
                  <button>Service Address Change</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
