h3{
  color: #F58220;
}

.create-customer{
  background-color: #FBCDA6;
  border: none;
  font-weight: bold;
  border-radius: 0.5rem;
  height: 2.3rem;
  margin-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

th{
  color: white;
  background-color: #F58220;
  text-align: center;
}

td{
  background-color: #FBCDA6;
  text-align: center;
  font-weight: bold;
}
tr.action-row td.accordion-action {
  border: none;
  background-color: #FFFFFF;
  text-align: center;
  button{
    border: 1px solid black;
    border-radius: 0.3rem;
    margin: 1rem;
    height: 3rem;
    width: 13rem;
    font-weight: bold;
    background-color: #FBCDA6;
    color: black;
    cursor: pointer;

  }
}
.accordion-body{
  background-color: white;
  padding: 3rem 0;

}
.product-table{
  align-items: center;
  width: 80%;
  margin: 0 auto;

  td{
    font-weight: lighter;
    border: 1px solid black;
    background-color: #f8ddc6;
    text-align: center;



}

}
