.modal-content{
  width: 30vw;
}

.message{
  color: red;
  font-weight: bold;
}

.yes-button, .no-button{
  background-color: #FBCDA6;
  color: black;
  margin-left: 2rem;
  cursor: pointer;
  width: 5rem;
}

