header{

  height: 15vh;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .header{
    background: #24233F;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;


    img{
      width: 90%;
      margin-top: 5%;
    }

  }
  .profile-info{
    margin-right: 3rem;
    display: flex;

  }

  .language-toggle{
    margin-left: 2rem;
    color: white;

  }

  .profile-name{
    font-size: 1rem;
    font-family: 'arial';
    color: white;
    font-weight: 600;
    margin-left: 10%;
    margin-top: 25%;
    letter-spacing: 0.1rem;
  }


  span{
    font-size: 1rem;
    font-family: 'poppins';
    font-weight: 400;
    margin-left: 0.5rem;
  }


}
