header{
  height: 12vh;
  max-width: 100%;


  .header{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    height: 12vh;
    background: #24233F;
  }

  img{
    margin-left: 1rem;
    margin-top: 1rem;
    width: 16vw;
    object-fit: cover;
  }

  .header-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-language{
    display: flex;
    align-items: center;
    gap: 2px;
    margin-right: 3rem;
    padding-bottom: 3rem;
  }

  .header-avatar{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    gap: 1rem;
  }
  .header-avatar-title{
    border-left: 1px solid #fff;
    height: 9vh;
    width: 8vw;
    padding-left: 1rem;
    padding-top: 0.5rem;
    margin-right: 3.5rem;
  }

  p{
    color: white;
    font-family: "inter";
  }
}
