<header>
  <div class="header">
      <img src="../../../assets/images/etiya-logo.png">

      <div class="header-items">
        <div class="header-language">
          <i class="fa-solid fa-globe fa-sm " style="color: white;"></i>
          <p>EN (English)</p>
        </div>

        <div class="header-avatar">
          <p class="header-avatar-title">Specialist Software Developer</p>
          <i class="fa-solid fa-user-tie fa-4x" style="color: #F48221;"></i>
          <p >Worker</p>
        </div>


      </div>
  </div>
</header>
