textarea{
  border: 1px solid #F58634;
  margin-top: 1rem;
}

.modal-content{
  border: 1px solid #F58634;
}


.invalid-save-button, .cancel-button, .valid-save-button{
  padding: 10px;
  width: 9rem;
  border: none;
  border-radius: 2rem;
  font-weight: 500;
  color: black;
}

.cancel-button{
  background-color: #FBCDA6;
  color: black;
  margin-left: 2rem;
  cursor: pointer;
  width: 9rem;
}
.valid-save-button{
  background-color: #FBCDA6;
  cursor: pointer;

}
.button-group{
  gap: 2rem;
  margin-top: 2rem;
}

.form-control{
  border: 1px solid #F58634;
  margin-bottom: 2rem;
  height: 2.3rem;
}

label{
  color: #666;
  font-weight: 700;
  width: 8rem;
  margin-right: 1rem;
}
