.fieldset{
  border: 2px solid #F58220;
  display: flex;
  margin-top: 0.4rem;

  legend{
    font-size: 1rem;
    font-weight: 600;
    margin-left: 1rem;
  }
}

.search-page{
  margin-top: 1rem;
  margin-left: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
.search-group{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  background-color: #F8FAFF;
}


