section{
  background-image: url("../../../assets/etiya-login-page.jpg") ;
  background-size: cover;
  width: 1900px;
  height: 900px;
  display: flex;
  justify-content: center;
  align-content: space-between;

}
img{
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  width: 330px;
  height: 86px;
}
h1{
  color: white;
  font-size: 2.4rem;
  font-family: "Exo";
  letter-spacing: 1.70rem;
  position: absolute;
  left:50.8%;
  top: 25%;
  transform: translate(-50%, -50%);
}
.login-bar{
  // background-color: white;
  // width: 597px;
  // height: 484px;
  // border-radius: 30px;
}
