.total-amount{
  border-top: 2px solid #f48221;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.celar-button{
  background-color: #FBCDA6;
  color: black;
  border: none;
  border-radius: 2rem;
  font-weight: 500;
  cursor: pointer;
  width: 5vw;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.basket-content{
  height: 42vh;
}
