.container {
  background-color: #fff;
  padding: 20px;
  width: 80%;
  margin: 0;//0 auto yaparsak merkezde kalır,...
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h3 {
  color: #f48221;
  font-size: 1.5rem;
}

