.campaign-form{
  margin-left: 2rem;
  margin-top: 1rem;
}

.form-select{
  width: 12vw;
  margin-left: 0.7rem;
  height: 2.3rem;
}

input{
width: 12vw;
height: 2.3rem;
}
label{
  padding-bottom: 0.5rem;
}

.search-button{
  background-color: #FBCDA6;
  color: black;
  border: none;
  border-radius: 2rem;
  font-weight: 500;
  width: 5vw;
  height: 5vh;

}
