<div>
  <div class="campaign-form">
    <form>
      <div class="row">
        <div class="col"></div>
          <label for="campaign">Campaign Selection:</label>
            <select id="campaign" class="form-select" formControlName="campaign" required>
              <option value="">Campaign Selection 1</option>
              <option value="campaign1">Campaign Selection 2</option>
            </select>
      </div>
      <div class="row d-flex align-items-end mt-3">
        <div class="col">
          <label for="prod-offer-id">Campaign ID:</label>
          <input type="text" id="prod-offer-id" class="form-control" formControlName="">
      </div>
      <div class="col">
          <label for="prod-offer-name">Campaign Name:</label>
          <input type="text" id="prod-offer-name" class="form-control" formControlName="">
      </div>
      <div class="col">
        <button class="search-button">Searchs</button>
      </div>
      </div>
    </form>
  </div>


  <div></div>
</div>
