<div class="container-fluid">
  <div class="offer-configuration">
    <h3>Configuration Product</h3>
      <div class="row">
        <div class="product-forms" *ngFor="let item of products">
          <div class="prod-info row-md-6 mb-3 d-flex">
            <label>Prod Offer ID</label>
            <label>{{item.productOfferId}}</label>

            <label>Price</label>
            <label>{{item.price}}</label>
          </div>

          <div class="prod-info row-md-6 mb-3 d-flex">
            <label>Prod Offer Name</label>
            <label>{{item.productOfferName}}</label>


            <label>Campaign ID</label>
            <label>{{item.campaignId}}</label>
          </div>
          <div>
            <p class="d-flex m-5">Buraya hangi form geleckse onu dinamik olarak alıyor olacağız</p>
          </div>
        </div>
    </div>
  </div>
    <app-address-info></app-address-info>
</div>
