nav{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1.5rem;

.b2c-active{
  padding-top: 2rem;
  border: 1px solid #24233F;
  height: 16.7vh;
  width: 8vw;
  cursor: pointer;
  background-color: #F58220;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

  .b2c, .b2b, .menu, .hand, .exit{
    padding-top: 2rem;
    border: 1px solid #24233F;
    height: 16.7vh;
    width: 8vw;
    cursor: pointer;
    background-color: #FBCDA6;
    color: #24233F;
    font-weight: bold;
    font-size: 1.5rem;
  }
}
