nav{
  width: 8vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1rem;

  .b2c, .b2b, .menu, .hand, .exit{
    border: 1px solid #24233F;
    height: 17.1vh;
    padding-top: 2rem;
    cursor: pointer;
    background-color: #FBCDA6;
    color: #24233F;
    font-weight: bold;
  }
}
