.info-page{
  background-color: white;
  border-radius: 2rem;
  width: 88vw;
  height: 71vh;
}

  h4 {
    border-bottom: 3px solid #f48221;
    text-indent: 3rem;
    padding-bottom: 10px;
    font-size: 2rem;
    color: #f48221;
    font-weight: 700;
    width: 85vw;
  }
  i, a{
    cursor: pointer;
  }
  // label {
  //   display: flex;
  //   width: 12vw;
  //   color: black;
  //   font-weight: 500;
  //   margin-left: 3rem;
  //   font-size: 1.5rem;
  //   margin-top: 2.5rem;
  // }
  // .row {
  //   display: flex;
  //   justify-content: left;
  // }

  .address-info{
    border: 1px solid #F58634 ;
    width: 39vw;
    height: 45vh;
    margin-top: 2rem;
    padding-left: 3rem;
    position: relative;
    padding-bottom: 30px;
  }

  .radio-button-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .address-options{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 2rem;
    padding-top: 2rem;
  }

  .option-click{
    border: 2px solid #F58634 ;
    background-color: #FBCDA6;

  }
  .address-button{
    border: 1px solid #F58634 ;
    margin:auto;

  }
  .address-button:hover{
    background-color: #FBCDA6 ;
  }

  .add-new-address {
    display: flex;
    justify-content: center; /* Yatayda ortalama */
    align-items: center; /* Dikeyde ortalama */
    height: 100%; /* Tam yükseklik */
    margin-right: 3rem;
  }
