<div class="info-page container-fluid mt-5 m-3" style="background-color: white">
  <app-customer-adress-modal

></app-customer-adress-modal>
  <h4>
    Address Info
  </h4>

  <div class="d-flex justify-content-between mx-5">
    <div class="address-info" *ngFor="let detail of addressDetails; let i = index">
      <div class="address-options dropdown">
        <i class="fa-solid fa-ellipsis-vertical fa-xl" role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
        <div class="option-click dropdown-menu">
          <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#customerAddressModal">edit</a>
          <a class="dropdown-item" (click)="deleteAddress(detail.address.id)">delete</a>
        </div>
      </div>

      <p style="color: black">
        <ng-container *ngIf="detail.cityName">
          City: {{ detail.cityName }}
        </ng-container>
        <br>
        <ng-container *ngIf="detail.districtName">
          District: {{ detail.districtName }}
        </ng-container>
        <br>
        {{ detail.address.street }}, {{ detail.address.flatNumber }}
        <br>
        {{ detail.address.description }}<br>
        customerid= {{ detail.address.customerId }}<br>
        id= {{ detail.address.id }}
      </p>

      <div class="radio-button-container"> <b> Primary Address</b> &nbsp;
        <input class="form-check-input"
        type="radio"
        id="selectAddress{{i}}"
        name="selectedAddress"
        [value]="detail.address.defaultAddress"
        [checked]="detail.address.defaultAddress"
        (change)="setDefaultAddress({ id: detail.address.id, defaultAddress: true, customerId: detail.address.customerId})">
      </div>
    </div>
  </div>
</div>
