<div class="info-page container-fluid mt-5 m-3" style="background-color: white">
  <h4>
    Address Info<i
      class="fa-solid fa-pen-clip"
      style="color: #24233f"
      routerLink=""
    ></i>
  </h4>

  <div class="d-flex justify-content-between mx-5">
    <div class="address-info" *ngFor="let address of addressInfo; let i=index">
      <div class="address-options dropdown">
        <i class="fa-solid fa-ellipsis-vertical fa-xl " role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
        <div class="option-click dropdown-menu">
          <a class="dropdown-item" routerLink="">edit</a>
          <a class="dropdown-item" routerLink="">delete</a>
        </div>
      </div>

      <p style="color: black">
        City, District,
        <br>
        {{ address.street }}, {{address.flatNumber}},
        <br>
        {{ address.description }}
      </p>

      <div class="radio-button-container">
        <input class="form-check-input" type="radio" id="selectAddress{{address[i]}}" name="selectedAddress" value="{{address[i]}}">
    </div>
    </div>

  </div>

  <div class="button-container d-flex justify-content-between my-5">
    <button type="button" class="btn previous">Previous</button>
    <button type="button" class="btn next">Next</button>
  </div>
</div>
