<div class="info-page container-fluid mt-5" style="background-color: white;">
  <h4>Customer Info <i class="fa-solid fa-pen-clip" style="color: #24233F;" routerLink ="/home/customer/{{customerId}}/info-update"></i> </h4>
      <div *ngIf="customerInfo" class="row">
          <div class="col-md-6 mb-3 d-flex">
              <label>First Name:</label>
              <label>{{customerInfo.firstName}}</label>
          </div>
          <div class="col-md-6 mb-3 d-flex">
              <label>Middle Name:</label>
              <label>{{customerInfo.middleName}}</label>
          </div>
          <div class="col-md-6 mb-3 d-flex">
            <label>Last Name:</label>
            <label>{{customerInfo.lastName}}</label>
          </div>
          <div class="col-md-6 mb-3 d-flex">
            <label>Birth Date:</label>
            <label>{{customerInfo.birthDate}}</label>
        </div>
        <div class="col-md-6 mb-3 d-flex">
          <label>Gender:</label>
          <label>{{customerInfo.gender}}</label>
      </div>
      <div class="col-md-6 mb-3 d-flex">
        <label>Father Name:</label>
        <label>{{customerInfo.fatherName}}</label>
      </div>
      <div class="col-md-6 mb-3 d-flex">
        <label>Mother Name:</label>
        <label>{{customerInfo.motherName}}</label>
      </div>
      <div class="col-md-6 mb-3 d-flex">
        <label>Nationality ID:</label>
        <label>{{customerInfo.nationalityIdentity}}</label>
      </div>
      <div class="button-action">
        <app-success-popup *ngIf="successMessage" [successMessage]="successMessage" ></app-success-popup>
        <button type="button" class="cancel-button" routerLink="/home">Cancel</button>
      </div>
    </div>

</div>

