<div class="container-fluid mt-5 m-3">
  <h4>Customer Info <i class="fa-solid fa-pen-clip" style="color: #24233F;" routerLink =""></i> </h4>

      <div class="row">
          <div class="col-md-6 mb-3 d-flex">
              <label>First Name:</label>
              <label> {{name}} </label>
          </div>
          <div class="col-md-6 mb-3 d-flex">
              <label>Middle Name:</label>
              <label> {{name}} </label>
          </div>
          <div class="col-md-6 mb-3 d-flex">
            <label>Last Name:</label>
            <label> {{name}} </label>
          </div>
          <div class="col-md-6 mb-3 d-flex">
            <label>Birth Date:</label>
            <label> {{name}} </label>
        </div>
        <div class="col-md-6 mb-3 d-flex">
          <label>Gender:</label>
          <label> {{name}} </label>
      </div>
      <div class="col-md-6 mb-3 d-flex">
        <label>Father Name:</label>
        <label> {{name}} </label>
      </div>
      <div class="col-md-6 mb-3 d-flex">
        <label>Mother Name:</label>
        <label> {{name}} </label>
      </div>
      <div class="col-md-6 mb-3 d-flex">
        <label>Nationality ID:</label>
        <label> {{name}} </label>
      </div>
    </div>
</div>

