.fieldset{
  border: 1px solid #FBCDA6;
  display: flex;
  border-radius: 2rem;

  legend{
    font-size: 1rem;
    font-weight: 600;
    margin-left: 1rem;
  }
}

.search-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  height: 78vh;
  gap: 2rem;
  background-color: white;
  border-radius: 2rem;
  padding-bottom: 1rem;
  padding-top: 3rem;
  h1{
    margin-bottom: 0;
  }

  input{
    width: 20rem;
    height: 3rem;
    border-radius: 2rem;
    border:1px solid #f48221;
    padding-left: 1rem;
    font-size: 1rem;

  };
    font-size: 1rem;
    padding-left: 1rem;

  .button-group{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    margin-top: 2rem;
  }

  .search-button{
      height: 3rem;
      background-color: #f48221;
      color: white;
      width: 6rem;
      border-radius: 2rem;
      border:1px solid #f48221;
      font-weight: 500;
      font-family: "Arial";
      font-size: 1.05rem;
      cursor: pointer;
  }

  .clear-button{
    height: 3rem;
    background-color: #C4C4C4;
    color: white;
    width: 6rem;
    border-radius: 2rem;
    border:1px solid #C4C4C4;
    font-weight: 500;
    font-family: "Arial";
    font-size: 1.05rem;
    cursor: pointer;
}
}
