<fieldset class="fieldset">
  <legend>Search Filter</legend>
  <form class="search-form">
    <div class="search-input">
      <input class="form-control" type="text" placeholder="ID Number" />
      <input class="form-control" type="text" placeholder="Customer ID" />
      <input class="form-control" type="text" placeholder="Account Number" />
      <input class="form-control" type="text" placeholder="GSM Number" />
      <input class="form-control" type="text" placeholder="First Name" />
      <input class="form-control" type="text" placeholder="Last Name" />
      <input class="form-control" type="text" placeholder="Order Number" />

    </div>

    <div class="button-group">
      <div>
        <button class="clear-button">
          <i class="fa-solid fa-eraser" style="color: white;"></i>
          Clear
        </button>
      </div>
      <div class="search-group">
        <button class="search-button">
          <i class="fa-solid fa-magnifying-glass" style="color: white"></i>
          Search
        </button>
      </div>
    </div>
  </form>
</fieldset>


