<form class="search-form">
  <h1>Search Filter</h1>
  <input  type="text" placeholder="ID Number" />
  <input  type="text" placeholder="Customer ID" />
  <input  type="text" placeholder="Account Number" />
  <input  type="text" placeholder="GSM Number" />
  <input  type="text" placeholder="First Name" />
  <input  type="text" placeholder="Last Name" />
  <input  type="text" placeholder="Order Number" />

  <div class="button-group">
    <div class="search-group">

      <button class="search-button">
        <i class="fa-solid fa-magnifying-glass" style="color: white"></i>
        Search
      </button>
    </div>
    <div>
      <button class="clear-button">
        <i class="fa-solid fa-eraser" style="color: white;"></i>
        Clear
      </button>
    </div>

  </div>

</form>
