<div>
  <div class="catalog-form">
    <form [formGroup]="catalogForm"  (ngSubmit)="searchOffers()">
      <div class="row">
        <div class="col"></div>
          <label for="catalog">Catalog Selection:</label>
            <select id="catalog" class="form-select" formControlName="catalog" required (change)="onCatalogChange()">
              <option value="">Select</option>
              <option *ngFor="let catalog of catalogList" [value]="catalog.id">{{catalog.name}}</option>
            </select>
      </div>
      <div class="row d-flex align-items-end mt-3">
        <div class="col">
          <label for="prod-offer-id">Prod Offer ID:</label>
          <input type="text" id="prod-offer-id" class="form-control" formControlName="prodOfferId">
      </div>
      <div class="col">
          <label for="prod-offer-name">Prod Offer Name:</label>
          <input type="text" id="prod-offer-name" class="form-control" formControlName="prodOfferName">
      </div>
      <div class="col">
        <button class="search-button" type="submit">Search</button>
      </div>
      </div>
    </form>
  </div>

    <div class="table-responsive" style="max-height: 35vh; overflow-y: auto;">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Prod Offer ID</th>
            <th>Prod Offer Name</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody *ngIf="productOfferList.length === 0">
          <tr class="empty-table" *ngFor="let i of [0, 1, 2 ,3, 4]">
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
        <tbody *ngIf="productOfferList.length > 0">
          <tr *ngFor="let productOffer of productOfferList">
            <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              {{ productOffer.productOfferId | slice:0:8 }}
            </td>
            <td>{{ productOffer.productOfferName }}</td>
            <td>{{ productOffer.productOfferTotalPrice }}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
