<div>
  <div class="catalog-form">
    <form>
      <div class="row">
        <div class="col"></div>
          <label for="catalog">Catalog Selection:</label>
            <select id="catalog" class="form-select" formControlName="catalog" required>
              <option value="">Catalog Selection 1</option>
              <option value="catalog1">Catalog 1</option>
            </select>
      </div>
      <div class="row d-flex align-items-end mt-3">
        <div class="col">
          <label for="prod-offer-id">Prod Offer ID:</label>
          <input type="text" id="prod-offer-id" class="form-control" formControlName="">
      </div>
      <div class="col">
          <label for="prod-offer-name">Prod Offer Name:</label>
          <input type="text" id="prod-offer-name" class="form-control" formControlName="">
      </div>
      <div class="col">
        <button class="search-button">Searchs</button>
      </div>
      </div>
    </form>
  </div>


  <div></div>
</div>
