<!-- <div class="popup" *ngIf="isOpen" (click)="closeModal()">

  <div class="popup-inner" (click)="$event.stopPropagation()">
    <i class="fa-solid fa-circle-xmark fa-5x " style="color: black;"></i>
    <div class="popup-message">
      <p>{{message}}</p>
    </div>
  </div>
</div> -->
<div class="popup" *ngIf="isOpen">
<div class="popup-inner"  >
  <i class="fa-solid fa-triangle-exclamation fa-2x"  style="color: black;"></i>
  <div class="d-flex flex-column">
    <p class="popup-message">Error</p>
    <p class="popup-message">{{message}}</p>
  </div>

    <i class="fa-solid fa-circle-xmark fa-2x " style="color: black;" (click)="closeModal()" ></i>
</div>
</div>
