.top-bar{
  display: flex;

}
.nav-item{
  border: 1px solid white;
  background-color: #24233F;
  color: white;
}

.nav-link{
  color: white;
  cursor: pointer;
}

.trash-button{
  border: none;
  margin-left: 2rem;

  i{
    cursor: pointer;
  }
}
.active {
  color: #f48221;  /* Aktif link kırmızı renkte olacak */

}
