<ul class="nav d-flex justify-content-center align-items-center mt-4">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/home/customer/customer-info">Customer Info</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/">Customer Account</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/">Address</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/">Contact Medium</a>
  </li>
  <li class="trash-button">
    <i class="fa-solid fa-trash-can fa-2xl"></i>
  </li>
</ul>
