<ul class="nav d-flex justify-content-center align-items-center mt-4">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/home/customer/customer-info/:id" routerLinkActive="active">Customer Info</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/home/customer/customer-account" routerLinkActive="active">Customer Account</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/home/customer/customer-address" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Address</a>

  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/home/customer/contact-medium-info" routerLinkActive="active">Contact Medium</a>
  </li>
  <li class="trash-button">
    <i class="fa-solid fa-trash-can fa-2xl"></i>
  </li>
</ul>
