<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/home/customer/{{pathId}}/info" routerLinkActive="active">Customer Info</a>
    <a class="nav-link" routerLink="/home/customer/{{pathId}}/account" routerLinkActive="active">Customer Account</a>
    <a class="nav-link" routerLink="/home/customer/{{pathId}}/address" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Address</a>
    <a class="nav-link" routerLink="/home/customer/{{pathId}}/contact-medium-info" routerLinkActive="active">Contact Medium</a>
  </li>
</ul>
