.info-page{
  background-color: white;
  border-radius: 2rem;
  width: 90vw;
  height: 74vh;
}
.address-info {
  width: 100%;
  padding: 20px;
  background-color: #FFF;

  h4 {
    border-bottom: 3px solid #f48221;
    text-indent: 5px;
    padding-bottom: 5px;
    font-size: 1.4rem;
    color: #333;
    font-weight: 700;
    padding-bottom: 1rem;
  }
  .addresses{
    border: 1px solid #F58634 ;
    width: 40vw;
    height: 45vh;
    margin-top: 2rem;
    padding-left: 3rem;
    position: relative;
    padding-bottom: 30px;

    .radio-button-container {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }
  .add-new-address{
    border: 1px solid #F58634 ;
    width: 40vw;
    height: 45vh;
    margin-top: 2rem;
    text-align: center;
    display: flex;
    justify-content:space-around;

  }
  .address-options{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 2rem;
    padding-top: 2rem;
  }
  .option-click{
    border: 2px solid #F58634 ;
    background-color: #FBCDA6;

  }
  .address-button{
    border: 1px solid #F58634 ;
    margin:auto;
  }
  .address-button:hover{
    background-color: #FBCDA6 ;
  }
  .previous, .next{
    border-radius: 2rem;
    background-color: #FBCDA6;
    font-weight: bold;
    width: 8vw;
  }
}
