<div class="info-page container-fluid mt-2 mx-3" style="background-color: white">
  <div class="address-info">
    <app-customer-adress-modal
    (formValid)="updateNextButtonState($event)"
    (cityList)="cityTransferParent($event)"
    (districtList)="districtTransferParent($event)"
  ></app-customer-adress-modal>
    <h4>Address Info</h4>
    <div class="row">
      <div class="col-md-6" *ngIf="validAddressList.length > 0">
        <div class="addresses"  *ngFor="let address of addressList |slice:1; let i=index">
          <div class="address-options dropdown">
            <div
              class="fa-solid fa-ellipsis-vertical fa-xl"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            ></div>
            <div class="option-click dropdown-menu">
              <a
                class="dropdown-item"
                (click)="editAddress(address[i].districtId)"
                data-bs-toggle="modal"
                data-bs-target="#customerAddressModal"
                >Edit
              </a>
              <a class="dropdown-item"
              (click)="deleteAddress(address)"
              >Delete</a>
            </div>
          </div>

          <li>City: {{ address.districtId | appIdToName:districts:cities:'city' }}</li>
          <li>District: {{ address.districtId | appIdToName:districts:districts:'district' }}</li>
          <li>Street: {{ address.street }}</li>
          <li>Flat Number: {{ address.flatNumber }}</li>
          <li>Description: {{ address.description }}</li>

        <div class="radio-button-container"><b>Primary Adress*</b> &nbsp;
            <input
    class="form-check-input"
    type="radio"
    id="selectAddress{{ i }}"
    name="selectedAddress"
    [value]="address.districtId"
    [checked]="address.defaultAddress"
    (change)="onDefaultAddressChange(address.districtId)"
  />
        </div>

        </div>
      </div>
      <div class="col-md-6">
        <div class="add-new-address">
          <button
            type="button"
            class="btn address-button"
            data-bs-toggle="modal"
            data-bs-target="#customerAddressModal"
          >
            Add New Adress
          </button>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between my-5">
      <button type="button" class="previous-button" (click)="onPrevious()">
        Previous
      </button>
      <button
        type="button"
        class="button-next"
        [disabled]="! defaultSelected"
        [ngClass]="{
          'valid-next-button': defaultSelected,
          'invalid-next-button': !defaultSelected
        }"
        (click)="onNext()"
      >

        Next
      </button>
    </div>
  </div>
</div>
