<div class="info-page container-fluid mt-5 m-3" style="background-color: white">
<div class="address-info">
  <h4>Address Info</h4>
  <div class="row">
  <div class="col-md-6" *ngIf="addresses$ | async as addressList">
    <div class="addresses" *ngFor="let address of addressList" class="address">
      <p>{{ address.street }}, {{ address.city }}</p>
      <div class="address-options">
        <i class="fa-solid fa-ellipsis-vertical fa-xl"></i>
        <div class="option-click" *ngIf="optionClick">
          <p>edit</p>
          <p>delete</p>
        </div>
      </div>
      <p style="color: black">
        {{ address }}
      </p>
    </div>
  </div>
  <div class="col-md-6">
  <div class="add-new-address">
<!-- Buton -->
<button type="button" class="btn address-button" data-bs-toggle="modal" data-bs-target="#customerAddressModal">
  Add New Adress
</button>
      <!-- <button class="btn address-button" (click)="togglePopup($event)">Add New Address</button> -->
  </div>
  </div>
  </div>

  <div class="d-flex justify-content-between my-5" >
      <button type="button" class="btn previous" (click)="onPrevious()">Previous</button>
      <button type="button" class="btn next" (click)="onNext()">Next</button>
  </div>

<app-customer-adress-modal></app-customer-adress-modal>
</div>
</div>
