.address-info {
  width: 100%;
  padding: 20px;
  background-color: #FFF;

  h4 {
    border-bottom: 3px solid #f48221;
    text-indent: 5px;
    padding-bottom: 5px;
    font-size: 1.4rem;
    color: #333;
    font-weight: 700;
  }

  .add-new-address{
    border: 1px solid #F58634 ;
    width: 25vw;
    height: 30vh;
    margin-top: 2rem;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;

  }

  .address-button{
    border: 1px solid #F58634 ;
    margin:auto;
  }

  .previous, .next{
    border-radius: 2rem;
    background-color: #FBCDA6;
    font-weight: bold;
    width: 8vw;
  }
}
