<div class="container-fluid">
<form [formGroup]="form" class="login-form" (ngSubmit)="onSubmit()">
  <div class="d-flex flex-column">
    <div class="username-input">
      <label for="username" class="form-label"
        >{{ "username" | translate }}*</label>
      <input
        id="username"
        class="form-control"
        type="text"
        placeholder="{{ 'username' | translate }}"
        formControlName="username"
      />
      @if (form.get('username')?.invalid && form.get('username')?.touched)
      {
        <div class="error-message-container" class="col-auto">
        <!-- <span class="text-danger">{{ form.get('username')!.errors | etiyaControlErrorMessage }}</span> -->
        <!-- <app-warning-popup [message]="form.get('username')!.errors | etiyaControlErrorMessage"></app-warning-popup> -->
      </div>
      }

    </div>
    <div class="password-input">
      <label for="password" class="form-label"
        >{{ "password" | translate }}*
      <input
        id="password"
        class="form-control"
        type="{{ showPassword ? 'text' : 'password' }}"
        placeholder="{{ 'password' | translate }}"
        formControlName="password"
      />
      <i
        class="pass-icon"
        [ngClass]="{
          'fa-regular fa-eye fa-2x': showPassword,
          'fa-solid fa-eye-slash fa-2x': !showPassword
        }"
        (click)="togglePasswordVisibility()"
      ></i>
    </label>

    @if ((form.get('password')?.invalid && form.get('password')?.touched))
    {
      <div class="col-auto">
        <!-- <span class="text-danger">{{ form.get('password')!.errors | etiyaControlErrorMessage }}</span> -->
      </div>
    }

    </div>
    <div class="row my-2">
      <div class="col">
        <p class="resetpass" routerLink="auth/login" (click)="(true)">
          {{ "reset_password" | translate }}
        </p>
      </div>
      <div class="col form-check remember-me">
        <label class="check-label" for="rememberMe">Remember me</label>
        <input
          class="form-check-input"
          type="checkbox"
          value="lsRememberMe"
          id="rememberMe"
        />
      </div>
    </div>


  </div>

  <div class="button-group d-flex flex-column align-items-center">
    <button type="submit" class="btn position-fixed" (click)="onSubmit()" [ngClass]="{ 'valid-login-button': form.valid,'invalid-login-button': !form.valid }" (click)="togglePopup($event)">
      {{ "login" | translate }}
    </button>
  </div>

</form>
</div>
<div class="error-message-container position-fixed">
  <app-warning-popup *ngIf="loginErrorMessage" [message]="loginErrorMessage"></app-warning-popup>
  @if (form.get('username')?.invalid && form.get('username')?.touched) {
    <div class="error-message-container" class="col-auto">
    <app-warning-popup [message]="form.get('username')!.errors | etiyaControlErrorMessage:'username'"></app-warning-popup>
    </div>
  }
  @if (form.get('password')?.invalid && form.get('password')?.touched) {
    <div class="error-message-container" class="col-auto">
    <app-warning-popup [message]="form.get('password')!.errors | etiyaControlErrorMessage:'username'"></app-warning-popup>
    </div>
  }
</div>
