.fieldset{
  border: 1px solid #FBCDA6;

  border-radius: 2rem;
  background-color: white;

  legend{
    font-size: 1rem;
    font-weight: 600;
    margin-left: 1.5rem;
    float: none;
    width: auto;
    padding-right: 1rem;
  }

table{
  width: 63vw;
  border-radius: 2rem;
  margin: 1rem 0 1rem 1rem;
}

  th{
    color: white;
    background-color: #F58220;
    text-align: center;
  }
  td{
    background-color: #FBCDA6;
    text-align: center;
  }
  .cursor{
    cursor: pointer;
  }
}


