.fieldset{
  border: 1px solid #FBCDA6;
  display: flex;
  border-radius: 2rem;
  background-color: white;

  legend{
    font-size: 1rem;
    font-weight: 600;
    margin-left: 1.5rem;
    float: none;
    width: auto;
    padding-right: 1rem;
  }

.search-result{
  border-radius: 2rem;
  padding: 1rem;

  }

  h1{
    margin-top: 0;
  }

  th{
    color: white;
    background-color: #F58220;
    text-align: center;
  }
  td{
    background-color: #FBCDA6;
    text-align: center;
  }
}
