h4 {
  text-indent: 5px;
  padding-bottom: 1rem;
  font-size: 1.4rem;
  color: #f48221;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-left: 1rem;
}

form{
  margin-left: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  input{
    width: 14vw;
  }

  textarea{
    border: 1px solid #f48221;
    width: 50vw;
  }
}


.address-info{
  width: 25vw;
  height: 25vh;
}
