h4 {
  text-indent: 5px;
  padding-bottom: 1rem;
  font-size: 1.4rem;
  color: #f48221;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-left: 1rem;
}

form{
  margin-left: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  input{
    width: 14vw;
  }

  textarea{
    border: 1px solid #f48221;
    width: 50vw;
  }
}

.form-actions {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 5rem;

  .valid-create-button {
    background-color: #FBCDA6;
    padding: 10px;
    width: 9rem;
    border: none;
    color: black;
    margin-right: 7rem;
    border-radius: 2rem;
    font-weight: 500;
    cursor: pointer;
}

  .invalid-create-button, .button-cancel{
    padding: 10px;
    width: 9rem;
    border: none;
    border-radius: 2rem;
    font-weight: 500;
    color: black;
  }

  .invalid-create-button{
    margin-right: 7rem;

  }

  .button-cancel {
    background-color: #FBCDA6;
    margin-left: 2rem;
  }

  .valid-create-button:hover{
    background-color: #f48221;
    color: white;
  }

  .button-cancel:hover {
    background-color: #f48221;
    color: white;
  }
}









.address-info{
  width: 25vw;
  height: 25vh;
}


