<etiya-single-focus-layout [headertemplate]="">
  <ng-template #headerTemplate></ng-template>
  <div class="etiya-login">
    <div class="etiya-logo">
      <img src="../../../../assets/images/etiya-login-logo.png" />
      <h1 class="etiya-akademi">{{ "academy" | translate }}</h1>
    </div>
    <div>
      <div class="etiya-login-form-text">
        <h1 class="etiya-title">{{ "common_welcome" | translate }}</h1>
        <p class="etiya-subtitle">{{ "auth_signinSubtitle" | translate }}</p>
        <div class="etiya-login-form">
          <etiya-login-form></etiya-login-form>
        </div>
      </div>
    </div>
  </div>
</etiya-single-focus-layout>




