  .etiya-login{
    display: flex;
    align-items: center;
    margin-right: 20rem;
  .etiya-title {
    font-family: "Exo";
    font-weight: 100;
    text-align: center;
    font-style: normal;
    font-size: 2rem;
    line-height: 2rem;
    /* identical to box height, or 100% */
    text-align: center;
    color: white;
    margin-bottom: 0rem;
  }
  .etiya-logo{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 10vh;
    margin-bottom: 5rem;
    margin-right: 15rem;
  }

  .etiya-login-form-text{
    border-left: 2px solid #fff;
    height: 75vh;
    padding-left: 7rem;
    margin-top: 7rem;
  }
  .etiya-login-form{
    margin-top: 10rem;
  }
  .etiya-subtitle {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 12px;
    text-align: center;
    color: white;
  }

  .etiya-akademi{
    color: white;
    font-size: 2.4rem;
    font-weight: 600;
    font-family: "Exo";
    letter-spacing: 1.70rem;
  }

}
