  .etiya-login{
    display: flex;
    justify-content: space-between;
    gap: 8rem;
    align-items: center;

  .etiya-logo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
    width: 20vw;
  }

  .etiya-login-form-text{
    border-left: 2px solid #fff;
    height: 65vh;
    padding-left: 6rem;
    margin-top: 5rem;
  }
  .etiya-title {
    font-family: "Exo";
    font-weight: 100;
    font-style: normal;
    font-size: 2.5rem;
    line-height: 2rem;
    color: white;
    margin-bottom: 1.5rem;
  }

  .etiya-subtitle {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    color: white;
    margin-bottom: 2rem;
  }

  .etiya-akademi{
    color: white;
    font-size: 2rem;
    font-weight: 600;
    font-family: "Exo";
    letter-spacing: 1.70rem;
  }

}
