<form class="search-form">
  <h1>Search Filter</h1>
  <input  type="text" placeholder="ID Number" />
  <input  type="text" placeholder="Customer ID" />
  <input  type="text" placeholder="Account Number" />
  <input  type="text" placeholder="GSM Number" />
  <input  type="text" placeholder="First Name" />
  <input  type="text" placeholder="Last Name" />
  <input  type="text" placeholder="Order Number" />

  <div class="button-group">
    <div>
      <i class="fa-solid fa-magnifying-glass" style="color: red;"></i>
      <button class="search-button">Search</button>
    </div>
    <i class="fa-solid fa-eraser" style="color: red;"></i>
    <button class="clear-button">Clear</button>
  </div>

</form>
