<div class="popup" *ngIf="successMessage">
  <div class="popup-inner mt-3">
    <div class="d-flex justify-content-between gap-2 ">
      <i class="fa-regular fa-circle-check fa-2x" style="color: #74c0fc"></i>
      <div class="d-flex flex-column align-items-start">
        <p>Success</p>
        <p class="popup-message">{{ successMessage }}</p>
      </div>
      <i
        class="fa-solid fa-circle-xmark fa-2x"
        style="color: black"
        (click)="closeModal()"
      ></i>
    </div>

  </div>
</div>
