<div class="info-page container-fluid mt-5 m-3">
  <h4>Contact Medium
    <i class="fa-solid fa-pen-clip" style="color: #24233F;"
    [routerLink]="['/home/customer', contactMediumInfo.id, 'contact-medium-info-update', {customerId: customerId}]" ></i></h4>
  <div *ngIf="contactMediumInfo" class="row">
    <div class="col-md-6 mb-3 d-flex">
      <label>E-mail:</label>
      <label>{{ contactMediumInfo.email }}</label>
    </div>
    <div class="col-md-6 mb-3 d-flex">
      <label>Home Phone:</label>
      <label>{{ contactMediumInfo.homePhone }}</label>
    </div>
    <div class="col-md-6 mb-3 d-flex">
      <label>Mobile Phone:</label>
      <label>{{ contactMediumInfo.mobilePhone }}</label>
    </div>
    <div class="col-md-6 mb-3 d-flex">
      <label>Fax:</label>
      <label>{{ contactMediumInfo.fax }}</label>
    </div>
  </div>
</div>
