<div class="container-fluid">
  <h4>Contact Medium <i class="fa-solid fa-pen-clip" style="color: #24233F;" routerLink ="/home/customer/contact-medium-info-update"></i></h4>
  <div class="row">
    <div class="col-md-6 mb-3 d-flex">
      <label>E-mail:</label>
      <label>{{ email }}</label>
    </div>
    <div class="col-md-6 mb-3 d-flex">
      <label>Home Phone:</label>
      <label>{{ homePhone }}</label>
    </div>
    <div class="col-md-6 mb-3 d-flex">
      <label>Mobile Phone:</label>
      <label>{{ mobilePhone }}</label>
    </div>
    <div class="col-md-6 mb-3 d-flex">
      <label>Fax:</label>
      <label>{{ fax }}</label>
    </div>
  </div>
</div>
